[Desktop Entry]
Version=0.5
Name=ACCPY

GenericName=Accelerator Simulations

Exec=bash -c 'cd /home/inp/git/github/accpy/ && /usr/bin/python /home/inp/git/github/accpy/startgui.py'
Terminal=true
Icon=/home/inp/git/github/accpy/accpy/icons/icon.svg
Type=Application

Categories=Science;
